In [28]:
#Kütüphanelerin yüklenmesi
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [29]:
#Görev 1: 
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [30]:
#Görev 2: 
df["sex"].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [31]:
#Görev 3: 
for i in df.columns:
    print(f"{i.upper()} Sütunundaki Unique Değerlerin Toplam Sayısı:\n {df[i].nunique()} ")

SURVIVED Sütunundaki Unique Değerlerin Toplam Sayısı:
 2
PCLASS Sütunundaki Unique Değerlerin Toplam Sayısı:
 3
SEX Sütunundaki Unique Değerlerin Toplam Sayısı:
 2
AGE Sütunundaki Unique Değerlerin Toplam Sayısı:
 88
SIBSP Sütunundaki Unique Değerlerin Toplam Sayısı:
 7
PARCH Sütunundaki Unique Değerlerin Toplam Sayısı:
 7
FARE Sütunundaki Unique Değerlerin Toplam Sayısı:
 248
EMBARKED Sütunundaki Unique Değerlerin Toplam Sayısı:
 3
CLASS Sütunundaki Unique Değerlerin Toplam Sayısı:
 3
WHO Sütunundaki Unique Değerlerin Toplam Sayısı:
 3
ADULT_MALE Sütunundaki Unique Değerlerin Toplam Sayısı:
 2
DECK Sütunundaki Unique Değerlerin Toplam Sayısı:
 7
EMBARK_TOWN Sütunundaki Unique Değerlerin Toplam Sayısı:
 3
ALIVE Sütunundaki Unique Değerlerin Toplam Sayısı:
 2
ALONE Sütunundaki Unique Değerlerin Toplam Sayısı:
 2

In [32]:
#Görev 4: 
print(f"{df.pclass.unique()} değerleri Unique değerlerdir.")

[3 1 2] değerleri Unique değerlerdir.

In [33]:
#Görev 5: 
print(f"{df.pclass.unique()} Pclass Sütununun Unique değerlerdir.\n{df.parch.unique()} Parch Sütununun Unique değerlerdir.")

[3 1 2] Pclass Sütununun Unique değerlerdir.
[0 1 2 5 3 4 6] Parch Sütununun Unique değerlerdir.

In [34]:
#Görev 6: 
print(f"Embarked Sütununun değişim öncesi tipi {df.dtypes[7]}'dir...")
df["embarked"] = df.embarked.astype("category")
print(f"Embarked Sütununun değişim sonrası tipi {df.dtypes[7]}'dir...")

Embarked Sütununun değişim öncesi tipi object'dir...
Embarked Sütununun değişim sonrası tipi category'dir...

In [35]:
#Görev 7: 
df[df.embarked=="C"]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,C,Cherbourg,no,False
285,0,3,male,33.00,0,0,8.6625,C,Third,man,True,NaN,Cherbourg,no,True
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,B,Cherbourg,yes,False
292,0,2,male,36.00,0,0,12.8750,C,Second,man,True,D,Cherbourg,no,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
296,0,3,male,23.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
299,1,1,female,50.00,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
307,1,1,female,17.00,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False
308,0,2,male,30.00,1,0,24.0000,C,Second,man,True,NaN,Cherbourg,no,False
309,1,1,female,30.00,0,0,56.9292,C,First,woman,False,E,Cherbourg,yes,True
310,1,1,female,24.00,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
311,1,1,female,18.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
319,1,1,female,40.00,1,1,134.5000,C,First,woman,False,E,Cherbourg,yes,False
325,1,1,female,36.00,0,0,135.6333,C,First,woman,False,C,Cherbourg,yes,True
329,1,1,female,16.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
337,1,1,female,41.00,0,0,134.5000,C,First,woman,False,E,Cherbourg,yes,True
352,0,3,male,15.00,1,1,7.2292,C,Third,child,False,NaN,Cherbourg,no,False
354,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
361,0,2,male,29.00,1,0,27.7208,C,Second,man,True,NaN,Cherbourg,no,False
362,0,3,female,45.00,0,1,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
366,1,1,female,60.00,1,0,75.2500,C,First,woman,False,D,Cherbourg,yes,False
367,1,3,female,NaN,0,0,7.2292,C,Third,woman,False,NaN,Cherbourg,yes,True
369,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
370,1,1,male,25.00,1,0,55.4417,C,First,man,True,E,Cherbourg,yes,False
373,0,1,male,22.00,0,0,135.6333,C,First,man,True,NaN,Cherbourg,no,True
375,1,1,female,NaN,1,0,82.1708,C,First,woman,False,NaN,Cherbourg,yes,False
377,0,1,male,27.00,0,2,211.5000,C,First,man,True,C,Cherbourg,no,False
378,0,3,male,20.00,0,0,4.0125,C,Third,man,True,NaN,Cherbourg,no,True
380,1,1,female,42.00,0,0,227.5250,C,First,woman,False,NaN,Cherbourg,yes,True
381,1,3,female,1.00,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False
389,1,2,female,17.00,0,0,12.0000,C,Second,woman,False,NaN,Cherbourg,yes,True
393,1,1,female,23.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
420,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
448,1,3,female,5.00,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
452,0,1,male,30.00,0,0,27.7500,C,First,man,True,C,Cherbourg,no,True
453,1,1,male,49.00,1,0,89.1042,C,First,man,True,C,Cherbourg,yes,False
455,1,3,male,29.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,yes,True
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
473,1,2,female,23.00,0,0,13.7917,C,Second,woman,False,D,Cherbourg,yes,True
484,1,1,male,25.00,1,0,91.0792,C,First,man,True,B,Cherbourg,yes,False
487,0,1,male,58.00,0,0,29.7000,C,First,man,True,B,Cherbourg,no,True
493,0,1,male,71.00,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
495,0,3,male,NaN,0,0,14.4583,C,Third,man,True,NaN,Cherbourg,no,True
496,1,1,female,54.00,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
505,0,1,male,18.00,1,0,108.9000,C,First,man,True,C,Cherbourg,no,False
513,1,1,female,54.00,1,0,59.4000,C,First,woman,False,NaN,Cherbourg,yes,False
522,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
523,1,1,female,44.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
524,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
532,0,3,male,17.00,1,1,7.2292,C,Third,man,True,NaN,Cherbourg,no,False
533,1,3,female,NaN,0,2,22.3583,C,Third,woman,False,NaN,Cherbourg,yes,False
537,1,1,female,30.00,0,0,106.4250,C,First,woman,False,NaN,Cherbourg,yes,True
539,1,1,female,22.00,0,2,49.5000,C,First,woman,False,B,Cherbourg,yes,False
544,0,1,male,50.00,1,0,106.4250,C,First,man,True,C,Cherbourg,no,False
547,1,2,male,NaN,0,0,13.8625,C,Second,man,True,NaN,Cherbourg,yes,True
550,1,1,male,17.00,0,2,110.8833,C,First,man,True,C,Cherbourg,yes,False
553,1,3,male,22.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,yes,True
556,1,1,female,48.00,1,0,39.6000,C,First,woman,False,A,Cherbourg,yes,False
557,0,1,male,NaN,0,0,227.5250,C,First,man,True,NaN,Cherbourg,no,True
568,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
578,0,3,female,NaN,1,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,False
581,1,1,female,39.00,1,1,110.8833,C,First,woman,False,C,Cherbourg,yes,False
583,0,1,male,36.00,0,0,40.1250,C,First,man,True,A,Cherbourg,no,True
584,0,3,male,NaN,0,0,8.7125,C,Third,man,True,NaN,Cherbourg,no,True
587,1,1,male,60.00,1,1,79.2000,C,First,man,True,B,Cherbourg,yes,False
591,1,1,female,52.00,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
598,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
599,1,1,male,49.00,1,0,56.9292,C,First,man,True,A,Cherbourg,yes,False
604,1,1,male,35.00,0,0,26.5500,C,First,man,True,NaN,Cherbourg,yes,True
608,1,2,female,22.00,1,2,41.5792,C,Second,woman,False,NaN,Cherbourg,yes,False
620,0,3,male,27.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
622,1,3,male,20.00,1,1,15.7417,C,Third,man,True,NaN,Cherbourg,yes,False
632,1,1,male,32.00,0,0,30.5000,C,First,man,True,B,Cherbourg,yes,True
641,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
645,1,1,male,48.00,1,0,76.7292,C,First,man,True,D,Cherbourg,yes,False
647,1,1,male,56.00,0,0,35.5000,C,First,man,True,A,Cherbourg,yes,True
659,0,1,male,58.00,0,2,113.2750,C,First,man,True,D,Cherbourg,no,False
661,0,3,male,40.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
679,1,1,male,36.00,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
681,1,1,male,27.00,0,0,76.7292,C,First,man,True,D,Cherbourg,yes,True
685,0,2,male,25.00,1,2,41.5792,C,Second,man,True,NaN,Cherbourg,no,False
691,1,3,female,4.00,0,1,13.4167,C,Third,child,False,NaN,Cherbourg,yes,False
693,0,3,male,25.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
698,0,1,male,49.00,1,1,110.8833,C,First,man,True,C,Cherbourg,no,False
700,1,1,female,18.00,1,0,227.5250,C,First,woman,False,C,Cherbourg,yes,False
702,0,3,female,18.00,0,1,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
709,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
710,1,1,female,24.00,0,0,49.5042,C,First,woman,False,C,Cherbourg,yes,True
716,1,1,female,38.00,0,0,227.5250,C,First,woman,False,C,Cherbourg,yes,True
731,0,3,male,11.00,0,0,18.7875,C,Third,child,False,NaN,Cherbourg,no,True
737,1,1,male,35.00,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
742,1,1,female,21.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
762,1,3,male,20.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
766,0,1,male,NaN,0,0,39.6000,C,First,man,True,NaN,Cherbourg,no,True
773,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
780,1,3,female,13.00,0,0,7.2292,C,Third,child,False,NaN,Cherbourg,yes,True
789,0,1,male,46.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
793,0,1,male,NaN,0,0,30.6958,C,First,man,True,NaN,Cherbourg,no,True
798,0,3,male,30.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
817,0,2,male,31.00,1,1,37.0042,C,Second,man,True,NaN,Cherbourg,no,False
827,1,2,male,1.00,0,2,37.0042,C,Second,child,False,NaN,Cherbourg,yes,False
830,1,3,female,15.00,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,yes,False
832,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
835,1,1,female,39.00,1,1,83.1583,C,First,woman,False,E,Cherbourg,yes,False
839,1,1,male,NaN,0,0,29.7000,C,First,man,True,C,Cherbourg,yes,True
842,1,1,female,30.00,0,0,31.0000,C,First,woman,False,NaN,Cherbourg,yes,True
843,0,3,male,34.50,0,0,6.4375,C,Third,man,True,NaN,Cherbourg,no,True
847,0,3,male,35.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
849,1,1,female,NaN,1,0,89.1042,C,First,woman,False,C,Cherbourg,yes,False
852,0,3,female,9.00,1,1,15.2458,C,Third,child,False,NaN,Cherbourg,no,False
858,1,3,female,24.00,0,3,19.2583,C,Third,woman,False,NaN,Cherbourg,yes,False
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
866,1,2,female,27.00,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.00,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.00,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.00,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
889,1,1,male,26.00,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [36]:
#Görev 8: 
df[df.embarked!="S"]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.00,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
16,0,3,male,2.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
30,0,1,male,40.00,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
34,0,1,male,28.00,1,0,82.1708,C,First,man,True,NaN,Cherbourg,no,False
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
42,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
46,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
47,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
52,1,1,female,49.00,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
54,0,1,male,65.00,0,1,61.9792,C,First,man,True,B,Cherbourg,no,False
57,0,3,male,28.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
60,0,3,male,22.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
61,1,1,female,38.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
65,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
73,0,3,male,26.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
82,1,3,female,NaN,0,0,7.7875,Q,Third,woman,False,NaN,Queenstown,yes,True
96,0,1,male,71.00,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
97,1,1,male,23.00,0,1,63.3583,C,First,man,True,D,Cherbourg,yes,False
109,1,3,female,NaN,1,0,24.1500,Q,Third,woman,False,NaN,Queenstown,yes,False
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
116,0,3,male,70.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
118,0,1,male,24.00,0,1,247.5208,C,First,man,True,B,Cherbourg,no,False
122,0,2,male,32.50,1,0,30.0708,C,Second,man,True,NaN,Cherbourg,no,False
125,1,3,male,12.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
126,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
128,1,3,female,NaN,1,1,22.3583,C,Third,woman,False,F,Cherbourg,yes,False
130,0,3,male,33.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
135,0,2,male,23.00,0,0,15.0458,C,Second,man,True,NaN,Cherbourg,no,True
139,0,1,male,24.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
140,0,3,female,NaN,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,no,False
143,0,3,male,19.00,0,0,6.7500,Q,Third,man,True,NaN,Queenstown,no,True
155,0,1,male,51.00,0,1,61.3792,C,First,man,True,NaN,Cherbourg,no,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
171,0,3,male,4.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
174,0,1,male,56.00,0,0,30.6958,C,First,man,True,A,Cherbourg,no,True
177,0,1,female,50.00,0,0,28.7125,C,First,woman,False,C,Cherbourg,no,True
181,0,2,male,NaN,0,0,15.0500,C,Second,man,True,NaN,Cherbourg,no,True
186,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
188,0,3,male,40.00,1,1,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
194,1,1,female,44.00,0,0,27.7208,C,First,woman,False,B,Cherbourg,yes,True
195,1,1,female,58.00,0,0,146.5208,C,First,woman,False,B,Cherbourg,yes,True
196,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
198,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
203,0,3,male,45.50,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
207,1,3,male,26.00,0,0,18.7875,C,Third,man,True,NaN,Cherbourg,yes,True
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
209,1,1,male,40.00,0,0,31.0000,C,First,man,True,A,Cherbourg,yes,True
214,0,3,male,NaN,1,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,False
215,1,1,female,31.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
218,1,1,female,32.00,0,0,76.2917,C,First,woman,False,D,Cherbourg,yes,True
240,0,3,female,NaN,1,0,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
241,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
244,0,3,male,30.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
245,0,1,male,44.00,2,0,90.0000,Q,First,man,True,C,Queenstown,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
256,1,1,female,NaN,0,0,79.2000,C,First,woman,False,NaN,Cherbourg,yes,True
258,1,1,female,35.00,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
260,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
264,0,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
273,0,1,male,37.00,0,1,29.7000,C,First,man,True,C,Cherbourg,no,False
274,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
278,0,3,male,7.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
280,0,3,male,65.00,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
285,0,3,male,33.00,0,0,8.6625,C,Third,man,True,NaN,Cherbourg,no,True
289,1,3,female,22.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,B,Cherbourg,yes,False
292,0,2,male,36.00,0,0,12.8750,C,Second,man,True,D,Cherbourg,no,True
295,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
296,0,3,male,23.50,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
299,1,1,female,50.00,0,1,247.5208,C,First,woman,False,B,Cherbourg,yes,False
300,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
301,1,3,male,NaN,2,0,23.2500,Q,Third,man,True,NaN,Queenstown,yes,False
303,1,2,female,NaN,0,0,12.3500,Q,Second,woman,False,E,Queenstown,yes,True
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
307,1,1,female,17.00,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False
308,0,2,male,30.00,1,0,24.0000,C,Second,man,True,NaN,Cherbourg,no,False
309,1,1,female,30.00,0,0,56.9292,C,First,woman,False,E,Cherbourg,yes,True
310,1,1,female,24.00,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
311,1,1,female,18.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
319,1,1,female,40.00,1,1,134.5000,C,First,woman,False,E,Cherbourg,yes,False
322,1,2,female,30.00,0,0,12.3500,Q,Second,woman,False,NaN,Queenstown,yes,True
325,1,1,female,36.00,0,0,135.6333,C,First,woman,False,C,Cherbourg,yes,True
329,1,1,female,16.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
330,1,3,female,NaN,2,0,23.2500,Q,Third,woman,False,NaN,Queenstown,yes,False
337,1,1,female,41.00,0,0,134.5000,C,First,woman,False,E,Cherbourg,yes,True
352,0,3,male,15.00,1,1,7.2292,C,Third,child,False,NaN,Cherbourg,no,False
354,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
358,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
359,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
361,0,2,male,29.00,1,0,27.7208,C,Second,man,True,NaN,Cherbourg,no,False
362,0,3,female,45.00,0,1,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
364,0,3,male,NaN,1,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,False
366,1,1,female,60.00,1,0,75.2500,C,First,woman,False,D,Cherbourg,yes,False
367,1,3,female,NaN,0,0,7.2292,C,Third,woman,False,NaN,Cherbourg,yes,True
368,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
369,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
370,1,1,male,25.00,1,0,55.4417,C,First,man,True,E,Cherbourg,yes,False
373,0,1,male,22.00,0,0,135.6333,C,First,man,True,NaN,Cherbourg,no,True
375,1,1,female,NaN,1,0,82.1708,C,First,woman,False,NaN,Cherbourg,yes,False
377,0,1,male,27.00,0,2,211.5000,C,First,man,True,C,Cherbourg,no,False
378,0,3,male,20.00,0,0,4.0125,C,Third,man,True,NaN,Cherbourg,no,True
380,1,1,female,42.00,0,0,227.5250,C,First,woman,False,NaN,Cherbourg,yes,True
381,1,3,female,1.00,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False
388,0,3,male,NaN,0,0,7.7292,Q,Third,man,True,NaN,Queenstown,no,True
389,1,2,female,17.00,0,0,12.0000,C,Second,woman,False,NaN,Cherbourg,yes,True
393,1,1,female,23.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
411,0,3,male,NaN,0,0,6.8583,Q,Third,man,True,NaN,Queenstown,no,True
412,1,1,female,33.00,1,0,90.0000,Q,First,woman,False,C,Queenstown,yes,False
420,0,3,male,NaN,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
421,0,3,male,21.00,0,0,7.7333,Q,Third,man,True,NaN,Queenstown,no,True
428,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
448,1,3,female,5.00,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
452,0,1,male,30.00,0,0,27.7500,C,First,man,True,C,Cherbourg,no,True
453,1,1,male,49.00,1,0,89.1042,C,First,man,True,C,Cherbourg,yes,False
455,1,3,male,29.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,yes,True
459,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
468,0,3,male,NaN,0,0,7.7250,Q,Third,man,True,NaN,Queenstown,no,True
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
473,1,2,female,23.00,0,0,13.7917,C,Second,woman,False,D,Cherbourg,yes,True
484,1,1,male,25.00,1,0,91.0792,C,First,man,True,B,Cherbourg,yes,False
487,0,1,male,58.00,0,0,29.7000,C,First,man,True,B,Cherbourg,no,True
493,0,1,male,71.00,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
495,0,3,male,NaN,0,0,14.4583,C,Third,man,True,NaN,Cherbourg,no,True
496,1,1,female,54.00,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
501,0,3,female,21.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
502,0,3,female,NaN,0,0,7.6292,Q,Third,woman,False,NaN,Queenstown,no,True
505,0,1,male,18.00,1,0,108.9000,C,First,man,True,C,Cherbourg,no,False
510,1,3,male,29.00,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,yes,True
513,1,1,female,54.00,1,0,59.4000,C,First,woman,False,NaN,Cherbourg,yes,False
517,0,3,male,NaN,0,0,24.1500,Q,Third,man,True,NaN,Queenstown,no,True
522,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
523,1,1,female,44.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
524,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
525,0,3,male,40.50,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
531,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
532,0,3,male,17.00,1,1,7.2292,C,Third,man,True,NaN,Cherbourg,no,False
533,1,3,female,NaN,0,2,22.3583,C,Third,woman,False,NaN,Cherbourg,yes,False
537,1,1,female,30.00,0,0,106.4250,C,First,woman,False,NaN,Cherbourg,yes,True
539,1,1,female,22.00,0,2,49.5000,C,First,woman,False,B,Cherbourg,yes,False
544,0,1,male,50.00,1,0,106.4250,C,First,man,True,C,Cherbourg,no,False
547,1,2,male,NaN,0,0,13.8625,C,Second,man,True,NaN,Cherbourg,yes,True
550,1,1,male,17.00,0,2,110.8833,C,First,man,True,C,Cherbourg,yes,False
552,0,3,male,NaN,0,0,7.8292,Q,Third,man,True,NaN,Queenstown,no,True
553,1,3,male,22.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,yes,True
556,1,1,female,48.00,1,0,39.6000,C,First,woman,False,A,Cherbourg,yes,False
557,0,1,male,NaN,0,0,227.5250,C,First,man,True,NaN,Cherbourg,no,True
560,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
568,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
573,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
578,0,3,female,NaN,1,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,False
581,1,1,female,39.00,1,1,110.8833,C,First,woman,False,C,Cherbourg,yes,False
583,0,1,male,36.00,0,0,40.1250,C,First,man,True,A,Cherbourg,no,True
584,0,3,male,NaN,0,0,8.7125,C,Third,man,True,NaN,Cherbourg,no,True
587,1,1,male,60.00,1,1,79.2000,C,First,man,True,B,Cherbourg,yes,False
591,1,1,female,52.00,1,0,78.2667,C,First,woman,False,D,Cherbourg,yes,False
593,0,3,female,NaN,0,2,7.7500,Q,Third,woman,False,NaN,Queenstown,no,False
598,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
599,1,1,male,49.00,1,0,56.9292,C,First,man,True,A,Cherbourg,yes,False
604,1,1,male,35.00,0,0,26.5500,C,First,man,True,NaN,Cherbourg,yes,True
608,1,2,female,22.00,1,2,41.5792,C,Second,woman,False,NaN,Cherbourg,yes,False
612,1,3,female,NaN,1,0,15.5000,Q,Third,woman,False,NaN,Queenstown,yes,False
613,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
620,0,3,male,27.00,1,0,14.4542,C,Third,man,True,NaN,Cherbourg,no,False
622,1,3,male,20.00,1,1,15.7417,C,Third,man,True,NaN,Cherbourg,yes,False
626,0,2,male,57.00,0,0,12.3500,Q,Second,man,True,NaN,Queenstown,no,True
629,0,3,male,NaN,0,0,7.7333,Q,Third,man,True,NaN,Queenstown,no,True
632,1,1,male,32.00,0,0,30.5000,C,First,man,True,B,Cherbourg,yes,True
641,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
645,1,1,male,48.00,1,0,76.7292,C,First,man,True,D,Cherbourg,yes,False
647,1,1,male,56.00,0,0,35.5000,C,First,man,True,A,Cherbourg,yes,True
653,1,3,female,NaN,0,0,7.8292,Q,Third,woman,False,NaN,Queenstown,yes,True
654,0,3,female,18.00,0,0,6.7500,Q,Third,woman,False,NaN,Queenstown,no,True
657,0,3,female,32.00,1,1,15.5000,Q,Third,woman,False,NaN,Queenstown,no,False
659,0,1,male,58.00,0,2,113.2750,C,First,man,True,D,Cherbourg,no,False
661,0,3,male,40.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
679,1,1,male,36.00,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
680,0,3,female,NaN,0,0,8.1375,Q,Third,woman,False,NaN,Queenstown,no,True
681,1,1,male,27.00,0,0,76.7292,C,First,man,True,D,Cherbourg,yes,True
685,0,2,male,25.00,1,2,41.5792,C,Second,man,True,NaN,Cherbourg,no,False
691,1,3,female,4.00,0,1,13.4167,C,Third,child,False,NaN,Cherbourg,yes,False
693,0,3,male,25.00,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
697,1,3,female,NaN,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
698,0,1,male,49.00,1,1,110.8833,C,First,man,True,C,Cherbourg,no,False
700,1,1,female,18.00,1,0,227.5250,C,First,woman,False,C,Cherbourg,yes,False
702,0,3,female,18.00,0,1,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
703,0,3,male,25.00,0,0,7.7417,Q,Third,man,True,NaN,Queenstown,no,True
709,1,3,male,NaN,1,1,15.2458,C,Third,man,True,NaN,Cherbourg,yes,False
710,1,1,female,24.00,0,0,49.5042,C,First,woman,False,C,Cherbourg,yes,True
716,1,1,female,38.00,0,0,227.5250,C,First,woman,False,C,Cherbourg,yes,True
718,0,3,male,NaN,0,0,15.5000,Q,Third,man,True,NaN,Queenstown,no,True
727,1,3,female,NaN,0,0,7.7375,Q,Third,woman,False,NaN,Queenstown,yes,True
731,0,3,male,11.00,0,0,18.7875,C,Third,child,False,NaN,Cherbourg,no,True
737,1,1,male,35.00,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
742,1,1,female,21.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
749,0,3,male,31.00,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
762,1,3,male,20.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
766,0,1,male,NaN,0,0,39.6000,C,First,man,True,NaN,Cherbourg,no,True
767,0,3,female,30.50,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
768,0,3,male,NaN,1,0,24.1500,Q,Third,man,True,NaN,Queenstown,no,False
773,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
776,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,F,Queenstown,no,True
778,0,3,male,NaN,0,0,7.7375,Q,Third,man,True,NaN,Queenstown,no,True
780,1,3,female,13.00,0,0,7.2292,C,Third,child,False,NaN,Cherbourg,yes,True
787,0,3,male,8.00,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
789,0,1,male,46.00,0,0,79.2000,C,First,man,True,B,Cherbourg,no,True
790,0,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
793,0,1,male,NaN,0,0,30.6958,C,First,man,True,NaN,Cherbourg,no,True
798,0,3,male,30.00,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
817,0,2,male,31.00,1,1,37.0042,C,Second,man,True,NaN,Cherbourg,no,False
825,0,3,male,NaN,0,0,6.9500,Q,Third,man,True,NaN,Queenstown,no,True
827,1,2,male,1.00,0,2,37.0042,C,Second,child,False,NaN,Cherbourg,yes,False
828,1,3,male,NaN,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,yes,True
829,1,1,female,62.00,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True
830,1,3,female,15.00,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,yes,False
832,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
835,1,1,female,39.00,1,1,83.1583,C,First,woman,False,E,Cherbourg,yes,False
839,1,1,male,NaN,0,0,29.7000,C,First,man,True,C,Cherbourg,yes,True
842,1,1,female,30.00,0,0,31.0000,C,First,woman,False,NaN,Cherbourg,yes,True
843,0,3,male,34.50,0,0,6.4375,C,Third,man,True,NaN,Cherbourg,no,True
847,0,3,male,35.00,0,0,7.8958,C,Third,man,True,NaN,Cherbourg,no,True
849,1,1,female,NaN,1,0,89.1042,C,First,woman,False,C,Cherbourg,yes,False
852,0,3,female,9.00,1,1,15.2458,C,Third,child,False,NaN,Cherbourg,no,False
858,1,3,female,24.00,0,3,19.2583,C,Third,woman,False,NaN,Cherbourg,yes,False
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
866,1,2,female,27.00,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.00,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.00,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.00,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
885,0,3,female,39.00,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
889,1,1,male,26.00,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.00,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [37]:
#Görev 9: 
df[df.sex=="female"][df.age<30]

C:\Users\90538\AppData\Local\Temp\ipykernel_5112\2877879567.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.sex=="female"][df.age<30]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
2,1,3,female,26.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
8,1,3,female,27.00,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.00,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
14,0,3,female,14.00,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
22,1,3,female,15.00,0,0,8.0292,Q,Third,child,False,NaN,Queenstown,yes,True
24,0,3,female,8.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
38,0,3,female,18.00,2,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
39,1,3,female,14.00,1,0,11.2417,C,Third,child,False,NaN,Cherbourg,yes,False
41,0,2,female,27.00,1,0,21.0000,S,Second,woman,False,NaN,Southampton,no,False
43,1,2,female,3.00,1,2,41.5792,C,Second,child,False,NaN,Cherbourg,yes,False
44,1,3,female,19.00,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
49,0,3,female,18.00,1,0,17.8000,S,Third,woman,False,NaN,Southampton,no,False
53,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
56,1,2,female,21.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False
66,1,2,female,29.00,0,0,10.5000,S,Second,woman,False,F,Southampton,yes,True
68,1,3,female,17.00,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
71,0,3,female,16.00,5,2,46.9000,S,Third,woman,False,NaN,Southampton,no,False
84,1,2,female,17.00,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
88,1,1,female,23.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
100,0,3,female,28.00,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True
106,1,3,female,21.00,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
111,0,3,female,14.50,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,no,False
113,0,3,female,20.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
114,0,3,female,17.00,0,0,14.4583,C,Third,woman,False,NaN,Cherbourg,no,True
119,0,3,female,2.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
133,1,2,female,29.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
136,1,1,female,19.00,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
141,1,3,female,22.00,0,0,7.7500,S,Third,woman,False,NaN,Southampton,yes,True
142,1,3,female,24.00,1,0,15.8500,S,Third,woman,False,NaN,Southampton,yes,False
147,0,3,female,9.00,2,2,34.3750,S,Third,child,False,NaN,Southampton,no,False
151,1,1,female,22.00,1,0,66.6000,S,First,woman,False,C,Southampton,yes,False
156,1,3,female,16.00,0,0,7.7333,Q,Third,woman,False,NaN,Queenstown,yes,True
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False
192,1,3,female,19.00,1,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,False
199,0,2,female,24.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,no,True
205,0,3,female,2.00,0,1,10.4625,S,Third,child,False,G,Southampton,no,False
208,1,3,female,16.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
216,1,3,female,27.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
246,0,3,female,25.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
247,1,2,female,24.00,0,2,14.5000,S,Second,woman,False,NaN,Southampton,yes,False
251,0,3,female,29.00,1,1,10.4625,S,Third,woman,False,G,Southampton,no,False
255,1,3,female,29.00,0,2,15.2458,C,Third,woman,False,NaN,Cherbourg,yes,False
289,1,3,female,22.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
290,1,1,female,26.00,0,0,78.8500,S,First,woman,False,NaN,Southampton,yes,True
291,1,1,female,19.00,1,0,91.0792,C,First,woman,False,B,Cherbourg,yes,False
293,0,3,female,24.00,0,0,8.8500,S,Third,woman,False,NaN,Southampton,no,True
297,0,1,female,2.00,1,2,151.5500,S,First,child,False,C,Southampton,no,False
307,1,1,female,17.00,1,0,108.9000,C,First,woman,False,C,Cherbourg,yes,False
310,1,1,female,24.00,0,0,83.1583,C,First,woman,False,C,Cherbourg,yes,True
311,1,1,female,18.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
312,0,2,female,26.00,1,1,26.0000,S,Second,woman,False,NaN,Southampton,no,False
315,1,3,female,26.00,0,0,7.8542,S,Third,woman,False,NaN,Southampton,yes,True
316,1,2,female,24.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
323,1,2,female,22.00,1,1,29.0000,S,Second,woman,False,NaN,Southampton,yes,False
329,1,1,female,16.00,0,1,57.9792,C,First,woman,False,B,Cherbourg,yes,False
341,1,1,female,24.00,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
345,1,2,female,24.00,0,0,13.0000,S,Second,woman,False,F,Southampton,yes,True
356,1,1,female,22.00,0,1,55.0000,S,First,woman,False,E,Southampton,yes,False
369,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
374,0,3,female,3.00,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
376,1,3,female,22.00,0,0,7.2500,S,Third,woman,False,NaN,Southampton,yes,True
381,1,3,female,1.00,0,2,15.7417,C,Third,child,False,NaN,Cherbourg,yes,False
389,1,2,female,17.00,0,0,12.0000,C,Second,woman,False,NaN,Cherbourg,yes,True
393,1,1,female,23.00,1,0,113.2750,C,First,woman,False,D,Cherbourg,yes,False
394,1,3,female,24.00,0,2,16.7000,S,Third,woman,False,G,Southampton,yes,False
399,1,2,female,28.00,0,0,12.6500,S,Second,woman,False,NaN,Southampton,yes,True
402,0,3,female,21.00,1,0,9.8250,S,Third,woman,False,NaN,Southampton,no,False
404,0,3,female,20.00,0,0,8.6625,S,Third,woman,False,NaN,Southampton,no,True
417,1,2,female,18.00,0,2,13.0000,S,Second,woman,False,NaN,Southampton,yes,False
419,0,3,female,10.00,0,2,24.1500,S,Third,child,False,NaN,Southampton,no,False
423,0,3,female,28.00,1,1,14.4000,S,Third,woman,False,NaN,Southampton,no,False
426,1,2,female,28.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
427,1,2,female,19.00,0,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,True
435,1,1,female,14.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
436,0,3,female,21.00,2,2,34.3750,S,Third,woman,False,NaN,Southampton,no,False
437,1,2,female,24.00,2,3,18.7500,S,Second,woman,False,NaN,Southampton,yes,False
443,1,2,female,28.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
446,1,2,female,13.00,0,1,19.5000,S,Second,child,False,NaN,Southampton,yes,False
448,1,3,female,5.00,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
473,1,2,female,23.00,0,0,13.7917,C,Second,woman,False,D,Cherbourg,yes,True
474,0,3,female,22.00,0,0,9.8375,S,Third,woman,False,NaN,Southampton,no,True
479,1,3,female,2.00,0,1,12.2875,S,Third,child,False,NaN,Southampton,yes,False
498,0,1,female,25.00,1,2,151.5500,S,First,woman,False,C,Southampton,no,False
501,0,3,female,21.00,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,no,True
504,1,1,female,16.00,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
530,1,2,female,2.00,1,1,26.0000,S,Second,child,False,NaN,Southampton,yes,False
535,1,2,female,7.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False
539,1,1,female,22.00,0,2,49.5000,C,First,woman,False,B,Cherbourg,yes,False
541,0,3,female,9.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
542,0,3,female,11.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
546,1,2,female,19.00,1,0,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
554,1,3,female,22.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,yes,True
567,0,3,female,29.00,0,4,21.0750,S,Third,woman,False,NaN,Southampton,no,False
580,1,2,female,25.00,1,1,30.0000,S,Second,woman,False,NaN,Southampton,yes,False
585,1,1,female,18.00,0,2,79.6500,S,First,woman,False,E,Southampton,yes,False
600,1,2,female,24.00,2,1,27.0000,S,Second,woman,False,NaN,Southampton,yes,False
608,1,2,female,22.00,1,2,41.5792,C,Second,woman,False,NaN,Cherbourg,yes,False
615,1,2,female,24.00,1,2,65.0000,S,Second,woman,False,NaN,Southampton,yes,False
617,0,3,female,26.00,1,0,16.1000,S,Third,woman,False,NaN,Southampton,no,False
618,1,2,female,4.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False
627,1,1,female,21.00,0,0,77.9583,S,First,woman,False,D,Southampton,yes,True
634,0,3,female,9.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
635,1,2,female,28.00,0,0,13.0000,S,Second,woman,False,NaN,Southampton,yes,True
641,1,1,female,24.00,0,0,69.3000,C,First,woman,False,B,Cherbourg,yes,True
642,0,3,female,2.00,3,2,27.9000,S,Third,child,False,NaN,Southampton,no,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
649,1,3,female,23.00,0,0,7.5500,S,Third,woman,False,NaN,Southampton,yes,True
651,1,2,female,18.00,0,1,23.0000,S,Second,woman,False,NaN,Southampton,yes,False
654,0,3,female,18.00,0,0,6.7500,Q,Third,woman,False,NaN,Queenstown,no,True
677,1,3,female,18.00,0,0,9.8417,S,Third,woman,False,NaN,Southampton,yes,True
689,1,1,female,15.00,0,1,211.3375,S,First,child,False,B,Southampton,yes,False
691,1,3,female,4.00,0,1,13.4167,C,Third,child,False,NaN,Cherbourg,yes,False
700,1,1,female,18.00,1,0,227.5250,C,First,woman,False,C,Cherbourg,yes,False
702,0,3,female,18.00,0,1,14.4542,C,Third,woman,False,NaN,Cherbourg,no,False
708,1,1,female,22.00,0,0,151.5500,S,First,woman,False,NaN,Southampton,yes,True
710,1,1,female,24.00,0,0,49.5042,C,First,woman,False,C,Cherbourg,yes,True
717,1,2,female,27.00,0,0,10.5000,S,Second,woman,False,E,Southampton,yes,True
720,1,2,female,6.00,0,1,33.0000,S,Second,child,False,NaN,Southampton,yes,False
729,0,3,female,25.00,1,0,7.9250,S,Third,woman,False,NaN,Southampton,no,False
730,1,1,female,29.00,0,0,211.3375,S,First,woman,False,B,Southampton,yes,True
742,1,1,female,21.00,2,2,262.3750,C,First,woman,False,B,Cherbourg,yes,False
750,1,2,female,4.00,1,1,23.0000,S,Second,child,False,NaN,Southampton,yes,False
777,1,3,female,5.00,0,0,12.4750,S,Third,child,False,NaN,Southampton,yes,True
780,1,3,female,13.00,0,0,7.2292,C,Third,child,False,NaN,Cherbourg,yes,True
781,1,1,female,17.00,1,0,57.0000,S,First,woman,False,B,Southampton,yes,False
786,1,3,female,18.00,0,0,7.4958,S,Third,woman,False,NaN,Southampton,yes,True
807,0,3,female,18.00,0,0,7.7750,S,Third,woman,False,NaN,Southampton,no,True
813,0,3,female,6.00,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
816,0,3,female,23.00,0,0,7.9250,S,Third,woman,False,NaN,Southampton,no,True
823,1,3,female,27.00,0,1,12.4750,S,Third,woman,False,E,Southampton,yes,False
830,1,3,female,15.00,1,0,14.4542,C,Third,child,False,NaN,Cherbourg,yes,False
852,0,3,female,9.00,1,1,15.2458,C,Third,child,False,NaN,Cherbourg,no,False
853,1,1,female,16.00,0,1,39.4000,S,First,woman,False,D,Southampton,yes,False
855,1,3,female,18.00,0,1,9.3500,S,Third,woman,False,NaN,Southampton,yes,False
858,1,3,female,24.00,0,3,19.2583,C,Third,woman,False,NaN,Cherbourg,yes,False
866,1,2,female,27.00,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False
874,1,2,female,28.00,1,0,24.0000,C,Second,woman,False,NaN,Cherbourg,yes,False
875,1,3,female,15.00,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
880,1,2,female,25.00,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.00,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
887,1,1,female,19.00,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True

In [38]:
#Görev 10: 
fare = df[df.fare>500]
age = df[df.age>70]
pd.concat([fare,age])

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
258,1,1,female,35.0,0,0,512.3292,C,First,woman,False,NaN,Cherbourg,yes,True
679,1,1,male,36.0,0,1,512.3292,C,First,man,True,B,Cherbourg,yes,False
737,1,1,male,35.0,0,0,512.3292,C,First,man,True,B,Cherbourg,yes,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True

In [39]:
#Görev 11: 
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [40]:
#Görev 12: 
df.drop(columns=["who"],axis=1,inplace=True)
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,True,NaN,Southampton,no,True

In [41]:
#Görev 13: 
print(f"İşlemden önce {df.deck.isna().sum()} adet boş değer var.")
df.deck.fillna(df.deck.mode()[0],inplace=True)
print(f"İşlemden sonra {df.deck.isna().sum()} adet boş değer var.")

İşlemden önce 688 adet boş değer var.
İşlemden sonra 0 adet boş değer var.

In [42]:
#Görev 14: 
print(f"İşlemden önce {df.age.isna().sum()} adet boş değer var.")
df.age.fillna(df.age.median(),inplace=True)
print(f"İşlemden sonra {df.age.isna().sum()} adet boş değer var.")

İşlemden önce 177 adet boş değer var.
İşlemden sonra 0 adet boş değer var.

In [43]:
#Görev 15: 
print(df.groupby("survived")["age"].sum())
print(df.groupby("survived")["age"].count())
print(df.groupby("survived")["age"].mean())
print(df.groupby("survived")["pclass"].sum())
print(df.groupby("survived")["pclass"].count())
print(df.groupby("survived")["pclass"].sum())

survived
0    16485.50
1     9675.67
Name: age, dtype: float64
survived
0    549
1    342
Name: age, dtype: int64
survived
0    30.028233
1    28.291433
Name: age, dtype: float64
survived
0    1390
1     667
Name: pclass, dtype: int64
survived
0    549
1    342
Name: pclass, dtype: int64
survived
0    1390
1     667
Name: pclass, dtype: int64

In [44]:
#Görev 16: 
df['age'] = df['age'].astype(int)
df["age"].fillna(0,inplace=True)
df["age_flag"] = df.age.apply(lambda x:1.3 if x<30 else 0)
df[df.age<70]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone,age_flag
0,0,3,male,22,1,0,7.2500,S,Third,True,C,Southampton,no,False,1.3
1,1,1,female,38,1,0,71.2833,C,First,False,C,Cherbourg,yes,False,0.0
2,1,3,female,26,0,0,7.9250,S,Third,False,C,Southampton,yes,True,1.3
3,1,1,female,35,1,0,53.1000,S,First,False,C,Southampton,yes,False,0.0
4,0,3,male,35,0,0,8.0500,S,Third,True,C,Southampton,no,True,0.0
5,0,3,male,28,0,0,8.4583,Q,Third,True,C,Queenstown,no,True,1.3
6,0,1,male,54,0,0,51.8625,S,First,True,E,Southampton,no,True,0.0
7,0,3,male,2,3,1,21.0750,S,Third,False,C,Southampton,no,False,1.3
8,1,3,female,27,0,2,11.1333,S,Third,False,C,Southampton,yes,False,1.3
9,1,2,female,14,1,0,30.0708,C,Second,False,C,Cherbourg,yes,False,1.3
10,1,3,female,4,1,1,16.7000,S,Third,False,G,Southampton,yes,False,1.3
11,1,1,female,58,0,0,26.5500,S,First,False,C,Southampton,yes,True,0.0
12,0,3,male,20,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
13,0,3,male,39,1,5,31.2750,S,Third,True,C,Southampton,no,False,0.0
14,0,3,female,14,0,0,7.8542,S,Third,False,C,Southampton,no,True,1.3
15,1,2,female,55,0,0,16.0000,S,Second,False,C,Southampton,yes,True,0.0
16,0,3,male,2,4,1,29.1250,Q,Third,False,C,Queenstown,no,False,1.3
17,1,2,male,28,0,0,13.0000,S,Second,True,C,Southampton,yes,True,1.3
18,0,3,female,31,1,0,18.0000,S,Third,False,C,Southampton,no,False,0.0
19,1,3,female,28,0,0,7.2250,C,Third,False,C,Cherbourg,yes,True,1.3
20,0,2,male,35,0,0,26.0000,S,Second,True,C,Southampton,no,True,0.0
21,1,2,male,34,0,0,13.0000,S,Second,True,D,Southampton,yes,True,0.0
22,1,3,female,15,0,0,8.0292,Q,Third,False,C,Queenstown,yes,True,1.3
23,1,1,male,28,0,0,35.5000,S,First,True,A,Southampton,yes,True,1.3
24,0,3,female,8,3,1,21.0750,S,Third,False,C,Southampton,no,False,1.3
25,1,3,female,38,1,5,31.3875,S,Third,False,C,Southampton,yes,False,0.0
26,0,3,male,28,0,0,7.2250,C,Third,True,C,Cherbourg,no,True,1.3
27,0,1,male,19,3,2,263.0000,S,First,True,C,Southampton,no,False,1.3
28,1,3,female,28,0,0,7.8792,Q,Third,False,C,Queenstown,yes,True,1.3
29,0,3,male,28,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3
30,0,1,male,40,0,0,27.7208,C,First,True,C,Cherbourg,no,True,0.0
31,1,1,female,28,1,0,146.5208,C,First,False,B,Cherbourg,yes,False,1.3
32,1,3,female,28,0,0,7.7500,Q,Third,False,C,Queenstown,yes,True,1.3
33,0,2,male,66,0,0,10.5000,S,Second,True,C,Southampton,no,True,0.0
34,0,1,male,28,1,0,82.1708,C,First,True,C,Cherbourg,no,False,1.3
35,0,1,male,42,1,0,52.0000,S,First,True,C,Southampton,no,False,0.0
36,1,3,male,28,0,0,7.2292,C,Third,True,C,Cherbourg,yes,True,1.3
37,0,3,male,21,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
38,0,3,female,18,2,0,18.0000,S,Third,False,C,Southampton,no,False,1.3
39,1,3,female,14,1,0,11.2417,C,Third,False,C,Cherbourg,yes,False,1.3
40,0,3,female,40,1,0,9.4750,S,Third,False,C,Southampton,no,False,0.0
41,0,2,female,27,1,0,21.0000,S,Second,False,C,Southampton,no,False,1.3
42,0,3,male,28,0,0,7.8958,C,Third,True,C,Cherbourg,no,True,1.3
43,1,2,female,3,1,2,41.5792,C,Second,False,C,Cherbourg,yes,False,1.3
44,1,3,female,19,0,0,7.8792,Q,Third,False,C,Queenstown,yes,True,1.3
45,0,3,male,28,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
46,0,3,male,28,1,0,15.5000,Q,Third,True,C,Queenstown,no,False,1.3
47,1,3,female,28,0,0,7.7500,Q,Third,False,C,Queenstown,yes,True,1.3
48,0,3,male,28,2,0,21.6792,C,Third,True,C,Cherbourg,no,False,1.3
49,0,3,female,18,1,0,17.8000,S,Third,False,C,Southampton,no,False,1.3
50,0,3,male,7,4,1,39.6875,S,Third,False,C,Southampton,no,False,1.3
51,0,3,male,21,0,0,7.8000,S,Third,True,C,Southampton,no,True,1.3
52,1,1,female,49,1,0,76.7292,C,First,False,D,Cherbourg,yes,False,0.0
53,1,2,female,29,1,0,26.0000,S,Second,False,C,Southampton,yes,False,1.3
54,0,1,male,65,0,1,61.9792,C,First,True,B,Cherbourg,no,False,0.0
55,1,1,male,28,0,0,35.5000,S,First,True,C,Southampton,yes,True,1.3
56,1,2,female,21,0,0,10.5000,S,Second,False,C,Southampton,yes,True,1.3
57,0,3,male,28,0,0,7.2292,C,Third,True,C,Cherbourg,no,True,1.3
58,1,2,female,5,1,2,27.7500,S,Second,False,C,Southampton,yes,False,1.3
59,0,3,male,11,5,2,46.9000,S,Third,False,C,Southampton,no,False,1.3
60,0,3,male,22,0,0,7.2292,C,Third,True,C,Cherbourg,no,True,1.3
61,1,1,female,38,0,0,80.0000,NaN,First,False,B,NaN,yes,True,0.0
62,0,1,male,45,1,0,83.4750,S,First,True,C,Southampton,no,False,0.0
63,0,3,male,4,3,2,27.9000,S,Third,False,C,Southampton,no,False,1.3
64,0,1,male,28,0,0,27.7208,C,First,True,C,Cherbourg,no,True,1.3
65,1,3,male,28,1,1,15.2458,C,Third,True,C,Cherbourg,yes,False,1.3
66,1,2,female,29,0,0,10.5000,S,Second,False,F,Southampton,yes,True,1.3
67,0,3,male,19,0,0,8.1583,S,Third,True,C,Southampton,no,True,1.3
68,1,3,female,17,4,2,7.9250,S,Third,False,C,Southampton,yes,False,1.3
69,0,3,male,26,2,0,8.6625,S,Third,True,C,Southampton,no,False,1.3
70,0,2,male,32,0,0,10.5000,S,Second,True,C,Southampton,no,True,0.0
71,0,3,female,16,5,2,46.9000,S,Third,False,C,Southampton,no,False,1.3
72,0,2,male,21,0,0,73.5000,S,Second,True,C,Southampton,no,True,1.3
73,0,3,male,26,1,0,14.4542,C,Third,True,C,Cherbourg,no,False,1.3
74,1,3,male,32,0,0,56.4958,S,Third,True,C,Southampton,yes,True,0.0
75,0,3,male,25,0,0,7.6500,S,Third,True,F,Southampton,no,True,1.3
76,0,3,male,28,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3
77,0,3,male,28,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
78,1,2,male,0,0,2,29.0000,S,Second,False,C,Southampton,yes,False,1.3
79,1,3,female,30,0,0,12.4750,S,Third,False,C,Southampton,yes,True,0.0
80,0,3,male,22,0,0,9.0000,S,Third,True,C,Southampton,no,True,1.3
81,1,3,male,29,0,0,9.5000,S,Third,True,C,Southampton,yes,True,1.3
82,1,3,female,28,0,0,7.7875,Q,Third,False,C,Queenstown,yes,True,1.3
83,0,1,male,28,0,0,47.1000,S,First,True,C,Southampton,no,True,1.3
84,1,2,female,17,0,0,10.5000,S,Second,False,C,Southampton,yes,True,1.3
85,1,3,female,33,3,0,15.8500,S,Third,False,C,Southampton,yes,False,0.0
86,0,3,male,16,1,3,34.3750,S,Third,True,C,Southampton,no,False,1.3
87,0,3,male,28,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
88,1,1,female,23,3,2,263.0000,S,First,False,C,Southampton,yes,False,1.3
89,0,3,male,24,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
90,0,3,male,29,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
91,0,3,male,20,0,0,7.8542,S,Third,True,C,Southampton,no,True,1.3
92,0,1,male,46,1,0,61.1750,S,First,True,E,Southampton,no,False,0.0
93,0,3,male,26,1,2,20.5750,S,Third,True,C,Southampton,no,False,1.3
94,0,3,male,59,0,0,7.2500,S,Third,True,C,Southampton,no,True,0.0
95,0,3,male,28,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
97,1,1,male,23,0,1,63.3583,C,First,True,D,Cherbourg,yes,False,1.3
98,1,2,female,34,0,1,23.0000,S,Second,False,C,Southampton,yes,False,0.0
99,0,2,male,34,1,0,26.0000,S,Second,True,C,Southampton,no,False,0.0
100,0,3,female,28,0,0,7.8958,S,Third,False,C,Southampton,no,True,1.3
101,0,3,male,28,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3
102,0,1,male,21,0,1,77.2875,S,First,True,D,Southampton,no,False,1.3
103,0,3,male,33,0,0,8.6542,S,Third,True,C,Southampton,no,True,0.0
104,0,3,male,37,2,0,7.9250,S,Third,True,C,Southampton,no,False,0.0
105,0,3,male,28,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3
106,1,3,female,21,0,0,7.6500,S,Third,False,C,Southampton,yes,True,1.3
107,1,3,male,28,0,0,7.7750,S,Third,True,C,Southampton,yes,True,1.3
108,0,3,male,38,0,0,7.8958,S,Third,True,C,Southampton,no,True,0.0
109,1,3,female,28,1,0,24.1500,Q,Third,False,C,Queenstown,yes,False,1.3
110,0,1,male,47,0,0,52.0000,S,First,True,C,Southampton,no,True,0.0
111,0,3,female,14,1,0,14.4542,C,Third,False,C,Cherbourg,no,False,1.3
112,0,3,male,22,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
113,0,3,female,20,1,0,9.8250,S,Third,False,C,Southampton,no,False,1.3
114,0,3,female,17,0,0,14.4583,C,Third,False,C,Cherbourg,no,True,1.3
115,0,3,male,21,0,0,7.9250,S,Third,True,C,Southampton,no,True,1.3
117,0,2,male,29,1,0,21.0000,S,Second,True,C,Southampton,no,False,1.3
118,0,1,male,24,0,1,247.5208,C,First,True,B,Cherbourg,no,False,1.3
119,0,3,female,2,4,2,31.2750,S,Third,False,C,Southampton,no,False,1.3
120,0,2,male,21,2,0,73.5000,S,Second,True,C,Southampton,no,False,1.3
121,0,3,male,28,0,0,8.0500,S,Third,True,C,Southampton,no,True,1.3
122,0,2,male,32,1,0,30.0708,C,Second,True,C,Cherbourg,no,False,0.0
123,1,2,female,32,0,0,13.0000,S,Second,False,E,Southampton,yes,True,0.0
124,0,1,male,54,0,1,77.2875,S,First,True,D,Southampton,no,False,0.0
125,1,3,male,12,1,0,11.2417,C,Third,False,C,Cherbourg,yes,False,1.3
126,0,3,male,28,0,0,7.7500,Q,Third,True,C,Queenstown,no,True,1.3
127,1,3,male,24,0,0,7.1417,S,Third,True,C,Southampton,yes,True,1.3
128,1,3,female,28,1,1,22.3583,C,Third,False,F,Cherbourg,yes,False,1.3
129,0,3,male,45,0,0,6.9750,S,Third,True,C,Southampton,no,True,0.0
130,0,3,male,33,0,0,7.8958,C,Third,True,C,Cherbourg,no,True,0.0
131,0,3,male,20,0,0,7.0500,S,Third,True,C,Southampton,no,True,1.3
132,0,3,female,47,1,0,14.5000,S,Third,False,C,Southampton,no,False,0.0
133,1,2,female,29,1,0,26.0000,S,Second,False,C,Southampton,yes,False,1.3
134,0,2,male,25,0,0,13.0000,S,Second,True,C,Southampton,no,True,1.3
135,0,2,male,23,0,0,15.0458,C,Second,True,C,Cherbourg,no,True,1.3
136,1,1,female,19,0,2,26.2833,S,First,False,D,Southampton,yes,False,1.3
137,0,1,male,37,1,0,53.1000,S,First,True,C,Southampton,no,False,0.0
138,0,3,male,16,0,0,9.2167,S,Third,True,C,Southampton,no,True,1.3
139,0,1,male,24,0,0,79.2000,C,First,True,B,Cherbourg,no,True,1.3
140,0,3,female,28,0,2,15.2458,C,Third,False,C,Cherbourg,no,False,1.3
141,1,3,female,22,0,0,7.7500,S,Third,False,C,Southampton,yes,True,1.3
142,1,3,female,24,1,0,15.8500,S,Third,False,C,Southampton,yes,False,1.3
143,0,3,male,19,0,0,6.7500,Q,Third,True,C,Queenstown,no,True,1.3
144,0,2,male,18,0,0,11.5000,S,Second,True,C,Southampton,no,True,1.3
145,0,2,male,19,1,1,36.7500,S,Second,True,C,Southampton,no,False,1.3
146,1,3,male,27,0,0,7.7958,S,Third,True,C,Southampton,yes,True,1.3
147,0,3,female,9,2,2,34.3750,S,Third,False,C,Southampton,no,False,1.3
148,0,2,male,36,0,2,26.0000,S,Second,True,F,Southampton,no,False,0.0
149,0,2,male,42,0,0,13.0000,S,Second,True,C,Southampton,no,True,0.0
150,0,2,male,51,0,0,12.5250,S,Second,True,C,Southampton,no,True,0.0
151,1,1,female,22,1,0,66.6000,S,First,False,C,Southampton,yes,False,1.3
152,0,3,male,55,0,0,8.0500,S,Third,True,C,Southampton,no,True,0.0
153,0,3,male,40,0,2,14.5000,S,Third,True,C,Southampton,no,False,0.0
154,0,3,male,28,0,0,7.3125,S,Third,True,C,Southampton,no,True,1.3
155,0,1,male,51,0,1,61.3792,C,First,True,C,Cherbourg,no,False,0.0
156,1,3,female,16,0,0,7.7333,Q,Third,False,C,Queenstown,yes,True,1.3
157,0,3,male,30,0,0,8.0500,S,Third,True,C,Southampton,no,True,0.0
158,0,3,male,28,0,0,8.6625,S,Third,True,C,Southampton,no,True,1.3
159,0,3,male,28,8,2,69.5500,S,Third,True,C,Southampton,no,False,1.3
160,0,3,male,44,0,1,16.1000,S,Third,True,C,Southampton,no,False,0.0
161,1,2,female,40,0,0,15.7500,S,Second,False,C,Southampton,yes,True,0.0
162,0,3,male,26,0,0,7.7750,S,Third,True,C,Southampton,no,True,1.3
163,0,3,male,17,0,0,8.6625,S,Third,True,C,Southampton,no,True,1.3
164,0,3,male,1,4,1,39.6875,S,Third,False,C,Southampton,no,False,1.3
165,1,3,male,9,0,2,20.5250,S,Third,False,C,Southampton,yes,False,1.3
166,1,1,female,28,0,1,55.0000,S,First,False,E,Southampton,yes,False,1.3
167,0,3,female,45,1,4,27.9000,S,Third,False,C,Southampton,no,False,0.0
168,0,1,male,28,0,0,25.9250,S,First,True,C,Southampton,no,True,1.3
169,0,3,male,28,0,0,56.4958,S,Third,True,C,Southampton,no,True,1.3
170,0,1,male,61,0,0,33.5000,S,First,True,B,Southampton,no,True,0.0
171,0,3,male,4,4,1,29.1250,Q,Third,False,C,Queenstown,no,False,1.3
172,1,3,female,1,1,1,11.1333,S,Third,False,C,Southampton,yes,False,1.3
173,0,3,male,21,0,0,7.9250,S,Third,True,C,Southampton,no,True,1.3
174,0,1,male,56,0,0,30.6958,C,First,True,A,Cherbourg,no,True,0.0
175,0,3,male,18,1,1,7.8542,S,Third,True,C,Southampton,no,False,1.3
176,0,3,male,28,3,1,25.4667,S,Third,True,C,Southampton,no,False,1.3
177,0,1,female,50,0,0,28.7125,C,First,False,C,Cherbourg,no,True,0.0
178,0,2,male,30,0,0,13.0000,S,Second,True,C,Southampton,no,True,0.0
179,0,3,male,36,0,0,0.0000,S,Third,True,C,Southampton,no,True,0.0
180,0,3,female,28,8,2,69.5500,S,Third,False,C,Southampton,no,False,1.3
181,0,2,male,28,0,0,15.0500,C,Second,True,C,Cherbourg,no,True,1.3
182,0,3,male,9,4,2,31.3875,S,Third,False,C,Southampton,no,False,1.3
183,1,2,male,1,2,1,39.0000,S,Second,False,F,Southampton,yes,False,1.3
184,1,3,female,4,0,2,22.0250,S,Third,False,C,Southampton,yes,False,1.3
185,0,1,male,28,0,0,50.0000,S,First,True,A,Southampton,no,True,1.3
186,1,3,female,28,1,0,15.5000,Q,Third,False,C,Queenstown,yes,False,1.3
187,1,1,male,45,0,0,26.5500,S,First,True,C,Southampton,yes,True,0.0
188,0,3,male,40,1,1,15.5000,Q,Third,True,C,Queenstown,no,False,0.0
189,0,3,male,36,0,0,7.8958,S,Third,True,C,Southampton,no,True,0.0
190,1,2,female,32,0,0,13.0000,S,Second,False,C,Southampton,yes,True,0.0
191,0,2,male,19,0,0,13.0000,S,Second,True,C,Southampton,no,True,1.3
192,1,3,female,19,1,0,7.8542,S,Third,False,C,Southampton,yes,False,1.3
193,1,2,male,3,1,1,26.0000,S,Second,False,F,Southampton,yes,False,1.3
194,1,1,female,44,0,0,27.7208,C,First,False,B,Cherbourg,yes,True,0.0
195,1,1,female,58,0,0,146.5208,C,First,False,B,Cherbourg,yes,True,0.0
196,0,3,male,28,0,0,7.7500,Q,Third,True,C,Queenstown,no,True,1.3
197,0,3,male,42,0,1,8.4042,S,Third,True,C,Southampton,no,False,0.0
198,1,3,female,28,0,0,7.7500,Q,Third,False,C,Queenstown,yes,True,1.3
199,0,2,female,24,0,0,13.0000,S,Second,False,C,Southampton,no,True,1.3
200,0,3,male,28,0,0,9.5000,S,Third,True,C,Southampton,no,True,1.3
201,0,3,male,28,8,2,69.5500,S,Third,True,C,Southampton,no,False,1.3
202,0,3,male,34,0,0,6.4958,S,Third,True,C,Southampton,no,True,0.0
203,0,3,male,45,0,0,7.2250,C,Third,True,C,Cherbourg,no,True,0.0
204,1,3,male,18,0,0,8.0500,S,Third,True,C,Southampton,yes,True,1.3
205,0,3,female,2,0,1,10.4625,S,Third,False,G,Southampton,no,False,1.3
206,0,3,male,32,1,0,15.8500,S,Third,True,C,Southampton,no,False,0.0
207,1,3,male,26,0,0,18.7875,C,Third,True,C,Cherbourg,yes,True,1.3
208,1,3,female,16,0,0,7.7500,Q,Third,False,C,Queenstown,yes,True,1.3
209,1,1,male,40,0,0,31.0000,C,First,True,A,Cherbourg,yes,True,0.0
210,0,3,male,24,0,0,7.0500,S,Third,True,C,Southampton,no,True,1.3
211,1,2,female,35,0,0,21.0000,S,Second,False,C,Southampton,yes,True,0.0
212,0,3,male,22,0,0,7.2500,S,Third,True,C,Southampton,no,True,1.3
213,0,2,male,30,0,0,13.0000,S,Second,True,C,Southampton,no,True,0.0
214,0,3,male,28,1,0,7.7500,Q,Third,True,C,Queenstown,no,False,1.3
215,1,1,female,31,1,0,113.2750,C,First,False,D,Cherbourg,yes,False,0.0
216,1,3,female,27,0,0,7.9250,S,Third,False,C,Southampton,yes,True,1.3
217,0,2,male,42,1,0,27.0000,S,Second,True,C,Southampton,no,False,0.0
218,1,1,female,32,0,0,76.2917,C,First,False,D,Cherbourg,yes,True,0.0
219,0,2,male,30,0,0,10.5000,S,Second,True,C,Southampton,no,True,0.0
220,1,3,male,16,0,0,8.0500,S,Third,True,C,Southampton,yes,True,1.3
221,0,2,male,27,0,0,13.0000,S,Second,True,C,Southampton,no,True,1.3
222,0,3,male,51,0,0,8.0500,S,Third,True,C,Southampton,no,True,0.0
223,0,3,male,28,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3
224,1,1,male,38,1,0,90.0000,S,First,True,C,Southampton,yes,False,0.0
225,0,3,male,22,0,0,9.3500,S,Third,True,C,Southampton,no,True,1.3
226,1,2,male,19,0,0,10.5000,S,Second,True,C,Southampton,yes,True,1.3
227,0,3,male,20,0,0,7.2500,S,Third,True,C,Southampton,no,True,1.3
228,0,2,male,18,0,0,13.0000,S,Second,True,C,Southampton,no,True,1.3
229,0,3,female,28,3,1,25.4667,S,Third,False,C,Southampton,no,False,1.3
230,1,1,female,35,1,0,83.4750,S,First,False,C,Southampton,yes,False,0.0
231,0,3,male,29,0,0,7.7750,S,Third,True,C,Southampton,no,True,1.3
232,0,2,male,59,0,0,13.5000,S,Second,True,C,Southampton,no,True,0.0
233,1,3,female,5,4,2,31.3875,S,Third,False,C,Southampton,yes,False,1.3
234,0,2,male,24,0,0,10.5000,S,Second,True,C,Southampton,no,True,1.3
235,0,3,female,28,0,0,7.5500,S,Third,False,C,Southampton,no,True,1.3
236,0,2,male,44,1,0,26.0000,S,Second,True,C,Southampton,no,False,0.0
237,1,2,female,8,0,2,26.2500,S,Second,False,C,Southampton,yes,False,1.3
238,0,2,male,19,0,0,10.5000,S,Second,True,C,Southampton,no,True,1.3
239,0,2,male,33,0,0,12.2750,S,Second,True,C,Southampton,no,True,0.0
240,0,3,female,28,1,0,14.4542,C,Third,False,C,Cherbourg,no,False,1.3
241,1,3,female,28,1,0,15.5000,Q,Third,False,C,Queenstown,yes,False,1.3
242,0,2,male,29,0,0,10.5000,S,Second,True,C,Southampton,no,True,1.3
243,0,3,male,22,0,0,7.1250,S,Third,True,C,Southampton,no,True,1.3
244,0,3,male,30,0,0,7.2250,C,Third,True,C,Cherbourg,no,True,0.0
245,0,1,male,44,2,0,90.0000,Q,First,True,C,Queenstown,no,False,0.0
246,0,3,female,25,0,0,7.7750,S,Third,False,C,Southampton,no,True,1.3
247,1,2,female,24,0,2,14.5000,S,Second,False,C,Southampton,yes,False,1.3
248,1,1,male,37,1,1,52.5542,S,First,True,D,Southampton,yes,False,0.0
249,0,2,male,54,1,0,26.0000,S,Second,True,C,Southampton,no,False,0.0
250,0,3,male,28,0,0,7.2500,S,Third,True,C,Southampton,no,True,1.3
251,0,3,female,29,1,1,10.4625,S,Third,False,G,Southampton,no,False,1.3
252,0,1,male,62,0,0,26.5500,S,First,True,C,Southampton,no,True,0.0
253,0,3,male,30,1,0,16.1000,S,Third,True,C,Southampton,no,False,0.0
254,0,3,female,41,0,2,20.2125,S,Third,False,C,Southampton,no,False,0.0
255,1,3,female,29,0,2,15.2458,C,Third,False,C,Cherbourg,yes,False,1.3
256,1,1,female,28,0,0,79.2000,C,First,False,C,Cherbourg,yes,True,1.3
257,1,1,female,30,0,0,86.5000,S,First,False,B,Southampton,yes,True,0.0
258,1,1,female,35,0,0,512.3292,C,First,False,C,Cherbourg,yes,True,0.0
259,1,2,female,50,0,1,26.0000,S,Second,False,C,Southampton,yes,False,0.0
260,0,3,male,28,0,0,7.7500,Q,Third,True,C,Queenstown,no,True,1.3
261,1,3,male,3,4,2,31.3875,S,Third,False,C,Southampton,yes,False,1.3
262,0,1,male,52,1,1,79.6500,S,First,True,E,Southampton,no,False,0.0
263,0,1,male,40,0,0,0.0000,S,First,True,B,Southampton,no,True,0.0
264,0,3,female,28,0,0,7.7500,Q,Third,False,C,Queenstown,no,True,1.3
265,0,2,male,36,0,0,10.5000,S,Second,True,C,Southampton,no,True,0.0
266,0,3,male,16,4,1,39.6875,S,Third,True,C,Southampton,no,False,1.3
267,1,3,male,25,1,0,7.7750,S,Third,True,C,Southampton,yes,False,1.3
268,1,1,female,58,0,1,153.4625,S,First,False,C,Southampton,yes,False,0.0
269,1,1,female,35,0,0,135.6333,S,First,False,C,Southampton,yes,True,0.0
270,0,1,male,28,0,0,31.0000,S,First,True,C,Southampton,no,True,1.3
271,1,3,male,25,0,0,0.0000,S,Third,True,C,Southampton,yes,True,1.3
272,1,2,female,41,0,1,19.5000,S,Second,False,C,Southampton,yes,False,0.0
273,0,1,male,37,0,1,29.7000,C,First,True,C,Cherbourg,no,False,0.0
274,1,3,female,28,0,0,7.7500,Q,Third,False,C,Queenstown,yes,True,1.3
275,1,1,female,63,1,0,77.9583,S,First,False,D,Southampton,yes,False,0.0
276,0,3,female,45,0,0,7.7500,S,Third,False,C,Southampton,no,True,0.0
277,0,2,male,28,0,0,0.0000,S,Second,True,C,Southampton,no,True,1.3
278,0,3,male,7,4,1,29.1250,Q,Third,False,C,Queenstown,no,False,1.3
279,1,3,female,35,1,1,20.2500,S,Third,False,C,Southampton,yes,False,0.0
280,0,3,male,65,0,0,7.7500,Q,Third,True,C,Queenstown,no,True,0.0
281,0,3,male,28,0,0,7.8542,S,Third,True,C,Southampton,no,True,1.3
282,0,3,male,16,0,0,9.5000,S,Third,True,C,Southampton,no,True,1.3
283,1,3,male,19,0,0,8.0500,S,Third,True,C,Southampton,yes,True,1.3
284,0,1,male,28,0,0,26.0000,S,First,True,A,Southampton,no,True,1.3
285,0,3,male,33,0,0,8.6625,C,Third,True,C,Cherbourg,no,True,0.0
286,1,3,male,30,0,0,9.5000,S,Third,True,C,Southampton,yes,True,0.0
287,0,3,male,22,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3
288,1,2,male,42,0,0,13.0000,S,Second,True,C,Southampton,yes,True,0.0
289,1,3,female,22,0,0,7.7500,Q,Third,False,C,Queenstown,yes,True,1.3
290,1,1,female,26,0,0,78.8500,S,First,False,C,Southampton,yes,True,1.3
291,1,1,female,19,1,0,91.0792,C,First,False,B,Cherbourg,yes,False,1.3
292,0,2,male,36,0,0,12.8750,C,Second,True,D,Cherbourg,no,True,0.0
293,0,3,female,24,0,0,8.8500,S,Third,False,C,Southampton,no,True,1.3
294,0,3,male,24,0,0,7.8958,S,Third,True,C,Southampton,no,True,1.3

In [45]:
#Görev 17: 
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [46]:
#Görev 18: 
print(df.groupby("time")["total_bill"].sum())
print(df.groupby("time")["total_bill"].mean())
print(df.groupby("time")["total_bill"].min())
print(df.groupby("time")["total_bill"].max())

time
Lunch     1167.47
Dinner    3660.30
Name: total_bill, dtype: float64
time
Lunch     17.168676
Dinner    20.797159
Name: total_bill, dtype: float64
time
Lunch     7.51
Dinner    3.07
Name: total_bill, dtype: float64
time
Lunch     43.11
Dinner    50.81
Name: total_bill, dtype: float64

In [47]:
#Görev 19: 
print(df.groupby(["day","time"])["total_bill"].sum())
print(df.groupby(["day","time"])["total_bill"].min())
print(df.groupby(["day","time"])["total_bill"].max())
print(df.groupby(["day","time"])["total_bill"].mean())

day   time
Thur  Lunch     1077.55
      Dinner      18.78
Fri   Lunch       89.92
      Dinner     235.96
Sat   Lunch        0.00
      Dinner    1778.40
Sun   Lunch        0.00
      Dinner    1627.16
Name: total_bill, dtype: float64
day   time
Thur  Lunch      7.51
      Dinner    18.78
Fri   Lunch      8.58
      Dinner     5.75
Sat   Lunch       NaN
      Dinner     3.07
Sun   Lunch       NaN
      Dinner     7.25
Name: total_bill, dtype: float64
day   time
Thur  Lunch     43.11
      Dinner    18.78
Fri   Lunch     16.27
      Dinner    40.17
Sat   Lunch       NaN
      Dinner    50.81
Sun   Lunch       NaN
      Dinner    48.17
Name: total_bill, dtype: float64
day   time
Thur  Lunch     17.664754
      Dinner    18.780000
Fri   Lunch     12.845714
      Dinner    19.663333
Sat   Lunch           NaN
      Dinner    20.441379
Sun   Lunch           NaN
      Dinner    21.410000
Name: total_bill, dtype: float64

In [48]:
#Görev 20: 
print("\nToplamı:")
print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].sum())
print("\nMinimumu:")
print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].min())
print("\nMaksimumu:")
print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].max())
print("\nOrtalaması:")
print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].mean())

Toplamı:
total_bill    571.87
tip            90.40
dtype: float64

Minimumu:
total_bill    8.35
tip           1.25
dtype: float64

Maksimumu:
total_bill    43.11
tip            5.17
dtype: float64

Ortalaması:
total_bill    16.339143
tip            2.582857
dtype: float64

C:\Users\90538\AppData\Local\Temp\ipykernel_5112\2749525833.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].sum())
C:\Users\90538\AppData\Local\Temp\ipykernel_5112\2749525833.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].min())
C:\Users\90538\AppData\Local\Temp\ipykernel_5112\2749525833.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].max())
C:\Users\90538\AppData\Local\Temp\ipykernel_5112\2749525833.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df[df["time"]=="Lunch"][df.sex=="Female"][["total_bill","tip"]].mean())

In [49]:
#Görev 21: 
df.loc[(df["size"]>3) & (df["total_bill"]>10)].mean()

C:\Users\90538\AppData\Local\Temp\ipykernel_5112\4227015554.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[(df["size"]>3) & (df["total_bill"]>10)].mean()

total_bill    29.312174
tip            4.218478
size           4.282609
dtype: float64

In [50]:
#Görev 22: 
df["total_bill_tip_sum"] = df.apply(lambda df:df["total_bill"]+df["tip"],axis=1)
df.head()

   total_bill   tip     sex smoker  day    time  size  total_bill_tip_sum
0       16.99  1.01  Female     No  Sun  Dinner     2               18.00
1       10.34  1.66    Male     No  Sun  Dinner     3               12.00
2       21.01  3.50    Male     No  Sun  Dinner     3               24.51
3       23.68  3.31    Male     No  Sun  Dinner     2               26.99
4       24.59  3.61  Female     No  Sun  Dinner     4               28.20

In [51]:
#Görev 23: 
female_mean = df[df.sex=="Female"]["total_bill"].mean()
male_mean = df[df.sex=="Male"]["total_bill"].mean()

def ort (df):
    if df["sex"]== "Female":
        if df["total_bill"]<female_mean:
            return 0
        elif df["total_bill"]>=female_mean:
            return 1
    else:
        if df["total_bill"]<male_mean:
            return 0
        elif df["total_bill"]>=male_mean:
            return 1

df["total_bill_flag"] = df.apply(ort,axis=1)
print(f"Kadınların Ortalaması: {female_mean}\nErkeklerin Ortalaması: {male_mean}")
df

Kadınların Ortalaması: 18.056896551724137
Erkeklerin Ortalaması: 20.744076433121034

,total_bill,tip,sex,smoker,day,time,size,total_bill_tip_sum,total_bill_flag
0,16.99,1.01,Female,No,Sun,Dinner,2,18.00,0
1,10.34,1.66,Male,No,Sun,Dinner,3,12.00,0
2,21.01,3.50,Male,No,Sun,Dinner,3,24.51,1
3,23.68,3.31,Male,No,Sun,Dinner,2,26.99,1
4,24.59,3.61,Female,No,Sun,Dinner,4,28.20,1
5,25.29,4.71,Male,No,Sun,Dinner,4,30.00,1
6,8.77,2.00,Male,No,Sun,Dinner,2,10.77,0
7,26.88,3.12,Male,No,Sun,Dinner,4,30.00,1
8,15.04,1.96,Male,No,Sun,Dinner,2,17.00,0
9,14.78,3.23,Male,No,Sun,Dinner,2,18.01,0
10,10.27,1.71,Male,No,Sun,Dinner,2,11.98,0
11,35.26,5.00,Female,No,Sun,Dinner,4,40.26,1
12,15.42,1.57,Male,No,Sun,Dinner,2,16.99,0
13,18.43,3.00,Male,No,Sun,Dinner,4,21.43,0
14,14.83,3.02,Female,No,Sun,Dinner,2,17.85,0
15,21.58,3.92,Male,No,Sun,Dinner,2,25.50,1
16,10.33,1.67,Female,No,Sun,Dinner,3,12.00,0
17,16.29,3.71,Male,No,Sun,Dinner,3,20.00,0
18,16.97,3.50,Female,No,Sun,Dinner,3,20.47,0
19,20.65,3.35,Male,No,Sat,Dinner,3,24.00,0
20,17.92,4.08,Male,No,Sat,Dinner,2,22.00,0
21,20.29,2.75,Female,No,Sat,Dinner,2,23.04,1
22,15.77,2.23,Female,No,Sat,Dinner,2,18.00,0
23,39.42,7.58,Male,No,Sat,Dinner,4,47.00,1
24,19.82,3.18,Male,No,Sat,Dinner,2,23.00,0
25,17.81,2.34,Male,No,Sat,Dinner,4,20.15,0
26,13.37,2.00,Male,No,Sat,Dinner,2,15.37,0
27,12.69,2.00,Male,No,Sat,Dinner,2,14.69,0
28,21.70,4.30,Male,No,Sat,Dinner,2,26.00,1
29,19.65,3.00,Female,No,Sat,Dinner,2,22.65,1
30,9.55,1.45,Male,No,Sat,Dinner,2,11.00,0
31,18.35,2.50,Male,No,Sat,Dinner,4,20.85,0
32,15.06,3.00,Female,No,Sat,Dinner,2,18.06,0
33,20.69,2.45,Female,No,Sat,Dinner,4,23.14,1
34,17.78,3.27,Male,No,Sat,Dinner,2,21.05,0
35,24.06,3.60,Male,No,Sat,Dinner,3,27.66,1
36,16.31,2.00,Male,No,Sat,Dinner,3,18.31,0
37,16.93,3.07,Female,No,Sat,Dinner,3,20.00,0
38,18.69,2.31,Male,No,Sat,Dinner,3,21.00,0
39,31.27,5.00,Male,No,Sat,Dinner,3,36.27,1
40,16.04,2.24,Male,No,Sat,Dinner,3,18.28,0
41,17.46,2.54,Male,No,Sun,Dinner,2,20.00,0
42,13.94,3.06,Male,No,Sun,Dinner,2,17.00,0
43,9.68,1.32,Male,No,Sun,Dinner,2,11.00,0
44,30.40,5.60,Male,No,Sun,Dinner,4,36.00,1
45,18.29,3.00,Male,No,Sun,Dinner,2,21.29,0
46,22.23,5.00,Male,No,Sun,Dinner,2,27.23,1
47,32.40,6.00,Male,No,Sun,Dinner,4,38.40,1
48,28.55,2.05,Male,No,Sun,Dinner,3,30.60,1
49,18.04,3.00,Male,No,Sun,Dinner,2,21.04,0
50,12.54,2.50,Male,No,Sun,Dinner,2,15.04,0
51,10.29,2.60,Female,No,Sun,Dinner,2,12.89,0
52,34.81,5.20,Female,No,Sun,Dinner,4,40.01,1
53,9.94,1.56,Male,No,Sun,Dinner,2,11.50,0
54,25.56,4.34,Male,No,Sun,Dinner,4,29.90,1
55,19.49,3.51,Male,No,Sun,Dinner,2,23.00,0
56,38.01,3.00,Male,Yes,Sat,Dinner,4,41.01,1
57,26.41,1.50,Female,No,Sat,Dinner,2,27.91,1
58,11.24,1.76,Male,Yes,Sat,Dinner,2,13.00,0
59,48.27,6.73,Male,No,Sat,Dinner,4,55.00,1
60,20.29,3.21,Male,Yes,Sat,Dinner,2,23.50,0
61,13.81,2.00,Male,Yes,Sat,Dinner,2,15.81,0
62,11.02,1.98,Male,Yes,Sat,Dinner,2,13.00,0
63,18.29,3.76,Male,Yes,Sat,Dinner,4,22.05,0
64,17.59,2.64,Male,No,Sat,Dinner,3,20.23,0
65,20.08,3.15,Male,No,Sat,Dinner,3,23.23,0
66,16.45,2.47,Female,No,Sat,Dinner,2,18.92,0
67,3.07,1.00,Female,Yes,Sat,Dinner,1,4.07,0
68,20.23,2.01,Male,No,Sat,Dinner,2,22.24,0
69,15.01,2.09,Male,Yes,Sat,Dinner,2,17.10,0
70,12.02,1.97,Male,No,Sat,Dinner,2,13.99,0
71,17.07,3.00,Female,No,Sat,Dinner,3,20.07,0
72,26.86,3.14,Female,Yes,Sat,Dinner,2,30.00,1
73,25.28,5.00,Female,Yes,Sat,Dinner,2,30.28,1
74,14.73,2.20,Female,No,Sat,Dinner,2,16.93,0
75,10.51,1.25,Male,No,Sat,Dinner,2,11.76,0
76,17.92,3.08,Male,Yes,Sat,Dinner,2,21.00,0
77,27.20,4.00,Male,No,Thur,Lunch,4,31.20,1
78,22.76,3.00,Male,No,Thur,Lunch,2,25.76,1
79,17.29,2.71,Male,No,Thur,Lunch,2,20.00,0
80,19.44,3.00,Male,Yes,Thur,Lunch,2,22.44,0
81,16.66,3.40,Male,No,Thur,Lunch,2,20.06,0
82,10.07,1.83,Female,No,Thur,Lunch,1,11.90,0
83,32.68,5.00,Male,Yes,Thur,Lunch,2,37.68,1
84,15.98,2.03,Male,No,Thur,Lunch,2,18.01,0
85,34.83,5.17,Female,No,Thur,Lunch,4,40.00,1
86,13.03,2.00,Male,No,Thur,Lunch,2,15.03,0
87,18.28,4.00,Male,No,Thur,Lunch,2,22.28,0
88,24.71,5.85,Male,No,Thur,Lunch,2,30.56,1
89,21.16,3.00,Male,No,Thur,Lunch,2,24.16,1
90,28.97,3.00,Male,Yes,Fri,Dinner,2,31.97,1
91,22.49,3.50,Male,No,Fri,Dinner,2,25.99,1
92,5.75,1.00,Female,Yes,Fri,Dinner,2,6.75,0
93,16.32,4.30,Female,Yes,Fri,Dinner,2,20.62,0
94,22.75,3.25,Female,No,Fri,Dinner,2,26.00,1
95,40.17,4.73,Male,Yes,Fri,Dinner,4,44.90,1
96,27.28,4.00,Male,Yes,Fri,Dinner,2,31.28,1
97,12.03,1.50,Male,Yes,Fri,Dinner,2,13.53,0
98,21.01,3.00,Male,Yes,Fri,Dinner,2,24.01,1
99,12.46,1.50,Male,No,Fri,Dinner,2,13.96,0
100,11.35,2.50,Female,Yes,Fri,Dinner,2,13.85,0
101,15.38,3.00,Female,Yes,Fri,Dinner,2,18.38,0
102,44.30,2.50,Female,Yes,Sat,Dinner,3,46.80,1
103,22.42,3.48,Female,Yes,Sat,Dinner,2,25.90,1
104,20.92,4.08,Female,No,Sat,Dinner,2,25.00,1
105,15.36,1.64,Male,Yes,Sat,Dinner,2,17.00,0
106,20.49,4.06,Male,Yes,Sat,Dinner,2,24.55,0
107,25.21,4.29,Male,Yes,Sat,Dinner,2,29.50,1
108,18.24,3.76,Male,No,Sat,Dinner,2,22.00,0
109,14.31,4.00,Female,Yes,Sat,Dinner,2,18.31,0
110,14.00,3.00,Male,No,Sat,Dinner,2,17.00,0
111,7.25,1.00,Female,No,Sat,Dinner,1,8.25,0
112,38.07,4.00,Male,No,Sun,Dinner,3,42.07,1
113,23.95,2.55,Male,No,Sun,Dinner,2,26.50,1
114,25.71,4.00,Female,No,Sun,Dinner,3,29.71,1
115,17.31,3.50,Female,No,Sun,Dinner,2,20.81,0
116,29.93,5.07,Male,No,Sun,Dinner,4,35.00,1
117,10.65,1.50,Female,No,Thur,Lunch,2,12.15,0
118,12.43,1.80,Female,No,Thur,Lunch,2,14.23,0
119,24.08,2.92,Female,No,Thur,Lunch,4,27.00,1
120,11.69,2.31,Male,No,Thur,Lunch,2,14.00,0
121,13.42,1.68,Female,No,Thur,Lunch,2,15.10,0
122,14.26,2.50,Male,No,Thur,Lunch,2,16.76,0
123,15.95,2.00,Male,No,Thur,Lunch,2,17.95,0
124,12.48,2.52,Female,No,Thur,Lunch,2,15.00,0
125,29.80,4.20,Female,No,Thur,Lunch,6,34.00,1
126,8.52,1.48,Male,No,Thur,Lunch,2,10.00,0
127,14.52,2.00,Female,No,Thur,Lunch,2,16.52,0
128,11.38,2.00,Female,No,Thur,Lunch,2,13.38,0
129,22.82,2.18,Male,No,Thur,Lunch,3,25.00,1
130,19.08,1.50,Male,No,Thur,Lunch,2,20.58,0
131,20.27,2.83,Female,No,Thur,Lunch,2,23.10,1
132,11.17,1.50,Female,No,Thur,Lunch,2,12.67,0
133,12.26,2.00,Female,No,Thur,Lunch,2,14.26,0
134,18.26,3.25,Female,No,Thur,Lunch,2,21.51,1
135,8.51,1.25,Female,No,Thur,Lunch,2,9.76,0
136,10.33,2.00,Female,No,Thur,Lunch,2,12.33,0
137,14.15,2.00,Female,No,Thur,Lunch,2,16.15,0
138,16.00,2.00,Male,Yes,Thur,Lunch,2,18.00,0
139,13.16,2.75,Female,No,Thur,Lunch,2,15.91,0
140,17.47,3.50,Female,No,Thur,Lunch,2,20.97,0
141,34.30,6.70,Male,No,Thur,Lunch,6,41.00,1
142,41.19,5.00,Male,No,Thur,Lunch,5,46.19,1
143,27.05,5.00,Female,No,Thur,Lunch,6,32.05,1
144,16.43,2.30,Female,No,Thur,Lunch,2,18.73,0
145,8.35,1.50,Female,No,Thur,Lunch,2,9.85,0
146,18.64,1.36,Female,No,Thur,Lunch,3,20.00,1
147,11.87,1.63,Female,No,Thur,Lunch,2,13.50,0
148,9.78,1.73,Male,No,Thur,Lunch,2,11.51,0
149,7.51,2.00,Male,No,Thur,Lunch,2,9.51,0
150,14.07,2.50,Male,No,Sun,Dinner,2,16.57,0
151,13.13,2.00,Male,No,Sun,Dinner,2,15.13,0
152,17.26,2.74,Male,No,Sun,Dinner,3,20.00,0
153,24.55,2.00,Male,No,Sun,Dinner,4,26.55,1
154,19.77,2.00,Male,No,Sun,Dinner,4,21.77,0
155,29.85,5.14,Female,No,Sun,Dinner,5,34.99,1
156,48.17,5.00,Male,No,Sun,Dinner,6,53.17,1
157,25.00,3.75,Female,No,Sun,Dinner,4,28.75,1
158,13.39,2.61,Female,No,Sun,Dinner,2,16.00,0
159,16.49,2.00,Male,No,Sun,Dinner,4,18.49,0
160,21.50,3.50,Male,No,Sun,Dinner,4,25.00,1
161,12.66,2.50,Male,No,Sun,Dinner,2,15.16,0
162,16.21,2.00,Female,No,Sun,Dinner,3,18.21,0
163,13.81,2.00,Male,No,Sun,Dinner,2,15.81,0
164,17.51,3.00,Female,Yes,Sun,Dinner,2,20.51,0
165,24.52,3.48,Male,No,Sun,Dinner,3,28.00,1
166,20.76,2.24,Male,No,Sun,Dinner,2,23.00,1
167,31.71,4.50,Male,No,Sun,Dinner,4,36.21,1
168,10.59,1.61,Female,Yes,Sat,Dinner,2,12.20,0
169,10.63,2.00,Female,Yes,Sat,Dinner,2,12.63,0
170,50.81,10.00,Male,Yes,Sat,Dinner,3,60.81,1
171,15.81,3.16,Male,Yes,Sat,Dinner,2,18.97,0
172,7.25,5.15,Male,Yes,Sun,Dinner,2,12.40,0
173,31.85,3.18,Male,Yes,Sun,Dinner,2,35.03,1
174,16.82,4.00,Male,Yes,Sun,Dinner,2,20.82,0
175,32.90,3.11,Male,Yes,Sun,Dinner,2,36.01,1
176,17.89,2.00,Male,Yes,Sun,Dinner,2,19.89,0
177,14.48,2.00,Male,Yes,Sun,Dinner,2,16.48,0
178,9.60,4.00,Female,Yes,Sun,Dinner,2,13.60,0
179,34.63,3.55,Male,Yes,Sun,Dinner,2,38.18,1
180,34.65,3.68,Male,Yes,Sun,Dinner,4,38.33,1
181,23.33,5.65,Male,Yes,Sun,Dinner,2,28.98,1
182,45.35,3.50,Male,Yes,Sun,Dinner,3,48.85,1
183,23.17,6.50,Male,Yes,Sun,Dinner,4,29.67,1
184,40.55,3.00,Male,Yes,Sun,Dinner,2,43.55,1
185,20.69,5.00,Male,No,Sun,Dinner,5,25.69,0
186,20.90,3.50,Female,Yes,Sun,Dinner,3,24.40,1
187,30.46,2.00,Male,Yes,Sun,Dinner,5,32.46,1
188,18.15,3.50,Female,Yes,Sun,Dinner,3,21.65,1
189,23.10,4.00,Male,Yes,Sun,Dinner,3,27.10,1
190,15.69,1.50,Male,Yes,Sun,Dinner,2,17.19,0
191,19.81,4.19,Female,Yes,Thur,Lunch,2,24.00,1
192,28.44,2.56,Male,Yes,Thur,Lunch,2,31.00,1
193,15.48,2.02,Male,Yes,Thur,Lunch,2,17.50,0
194,16.58,4.00,Male,Yes,Thur,Lunch,2,20.58,0
195,7.56,1.44,Male,No,Thur,Lunch,2,9.00,0
196,10.34,2.00,Male,Yes,Thur,Lunch,2,12.34,0
197,43.11,5.00,Female,Yes,Thur,Lunch,4,48.11,1
198,13.00,2.00,Female,Yes,Thur,Lunch,2,15.00,0
199,13.51,2.00,Male,Yes,Thur,Lunch,2,15.51,0
200,18.71,4.00,Male,Yes,Thur,Lunch,3,22.71,0
201,12.74,2.01,Female,Yes,Thur,Lunch,2,14.75,0
202,13.00,2.00,Female,Yes,Thur,Lunch,2,15.00,0
203,16.40,2.50,Female,Yes,Thur,Lunch,2,18.90,0
204,20.53,4.00,Male,Yes,Thur,Lunch,4,24.53,0
205,16.47,3.23,Female,Yes,Thur,Lunch,3,19.70,0
206,26.59,3.41,Male,Yes,Sat,Dinner,3,30.00,1
207,38.73,3.00,Male,Yes,Sat,Dinner,4,41.73,1
208,24.27,2.03,Male,Yes,Sat,Dinner,2,26.30,1
209,12.76,2.23,Female,Yes,Sat,Dinner,2,14.99,0
210,30.06,2.00,Male,Yes,Sat,Dinner,3,32.06,1
211,25.89,5.16,Male,Yes,Sat,Dinner,4,31.05,1
212,48.33,9.00,Male,No,Sat,Dinner,4,57.33,1
213,13.27,2.50,Female,Yes,Sat,Dinner,2,15.77,0
214,28.17,6.50,Female,Yes,Sat,Dinner,3,34.67,1
215,12.90,1.10,Female,Yes,Sat,Dinner,2,14.00,0
216,28.15,3.00,Male,Yes,Sat,Dinner,5,31.15,1
217,11.59,1.50,Male,Yes,Sat,Dinner,2,13.09,0
218,7.74,1.44,Male,Yes,Sat,Dinner,2,9.18,0
219,30.14,3.09,Female,Yes,Sat,Dinner,4,33.23,1
220,12.16,2.20,Male,Yes,Fri,Lunch,2,14.36,0
221,13.42,3.48,Female,Yes,Fri,Lunch,2,16.90,0
222,8.58,1.92,Male,Yes,Fri,Lunch,1,10.50,0
223,15.98,3.00,Female,No,Fri,Lunch,3,18.98,0
224,13.42,1.58,Male,Yes,Fri,Lunch,2,15.00,0
225,16.27,2.50,Female,Yes,Fri,Lunch,2,18.77,0
226,10.09,2.00,Female,Yes,Fri,Lunch,2,12.09,0
227,20.45,3.00,Male,No,Sat,Dinner,4,23.45,0
228,13.28,2.72,Male,No,Sat,Dinner,2,16.00,0
229,22.12,2.88,Female,Yes,Sat,Dinner,2,25.00,1
230,24.01,2.00,Male,Yes,Sat,Dinner,4,26.01,1
231,15.69,3.00,Male,Yes,Sat,Dinner,3,18.69,0
232,11.61,3.39,Male,No,Sat,Dinner,2,15.00,0
233,10.77,1.47,Male,No,Sat,Dinner,2,12.24,0
234,15.53,3.00,Male,Yes,Sat,Dinner,2,18.53,0
235,10.07,1.25,Male,No,Sat,Dinner,2,11.32,0
236,12.60,1.00,Male,Yes,Sat,Dinner,2,13.60,0
237,32.83,1.17,Male,Yes,Sat,Dinner,2,34.00,1
238,35.83,4.67,Female,No,Sat,Dinner,3,40.50,1
239,29.03,5.92,Male,No,Sat,Dinner,3,34.95,1
240,27.18,2.00,Female,Yes,Sat,Dinner,2,29.18,1
241,22.67,2.00,Male,Yes,Sat,Dinner,2,24.67,1
242,17.82,1.75,Male,No,Sat,Dinner,2,19.57,0
243,18.78,3.00,Female,No,Thur,Dinner,2,21.78,1

In [52]:
(df["total_bill_flag"] == 0).sum()

149

In [53]:
#Görev 24: 
pd.DataFrame(df.groupby(["sex","total_bill_flag"])["total_bill"].sum())

                        total_bill
sex    total_bill_flag
Male   0                   1411.60
       1                   1845.22
Female 0                    709.04
       1                    861.91

In [54]:
#Görev 25:
sıralıdf = df.sort_values(by="total_bill_tip_sum", ascending=False)[:30]
sıralıdf.head()

,total_bill,tip,sex,smoker,day,time,size,total_bill_tip_sum,total_bill_flag
170,50.81,10.00,Male,Yes,Sat,Dinner,3,60.81,1
212,48.33,9.00,Male,No,Sat,Dinner,4,57.33,1
59,48.27,6.73,Male,No,Sat,Dinner,4,55.00,1
156,48.17,5.00,Male,No,Sun,Dinner,6,53.17,1
182,45.35,3.50,Male,Yes,Sun,Dinner,3,48.85,1